<html>

    <head>
       <title>
           New Web Page
       </title>
        <style type= 'text/css'>
            body {
                background-color: #ffffff;
                margin-left: 20%;
                margin-right: 20%;
                border: 1px dotted #aaaaaa;
                padding: 10px;
                font-family: sans-serif;
            }
            p {
                background-color: #ffffff;
                padding: 10px;
            }
            h1 {
                color: #000000;
            }
        </style>
    </head>

    <body>
        <h1>
            Large Title
        </h1>
        <p>
            New Test Web Page
                <br /><br />
            Total Training Instruction <em>Video</em> <strong>PO1CO1L04</strong>
        </p>
    </body>

</html>